/*
// Colors
#F9F7F7 - white
#DBE2EF - grey
#3F72AF - blue
#112D4E - dark blue
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background: #F9F7F7;
  color: #112D4E;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
}

button {
  cursor: pointer;
}

.header {
  background: #3F72AF;
  color:#F9F7F7;
  padding: 1.6rem 0;
  text-align: center;
}

.header-title {
  font-size: 3.2rem;
}

.grid-container {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-gap: 5px;
}

.todo-list-title,
.todo-list-header {
  background: #DBE2EF;
  text-align: center;
}

.all-todo-lists,
.todo-list {
  padding: 10px;
  line-height: 2.3;
  display: grid;
}

#new-todo-list {
  display: grid;
  grid-template-columns: 70% 30%;
}

li {
    cursor: pointer;
    font-size: 1.8rem;
    padding: 1rem;
}

li:nth-child(even) {
  background: #EEEFF0;
}

li.selected-list {
    background: #DBE2EF;
    /* font-weight: bold; */
    text-decoration: underline;
}

.todo-body {
    display: grid;
}

#todo-text {
    display: grid;
    grid-template-columns: 80% 20%;
}

.todo-item {
    display: grid;
    grid-template-columns: 5% 75% 20%;
    align-items: baseline;
}

.todo-item:nth-child(even) {
  background: #EEEFF0;
}

.hidden {
    display: none;
}

.checkbox > input {
    margin-right: 0.5rem;
}

.filters {
    display: grid;
    grid-template-columns: 60% 40%;
}

.todos-left-message {
    text-align: center;
    color: #3F72AF;
}

.highlighted-text {
    color: #3F72AF;
    font-size: 1.4rem;
}

.btn {
    background: #112D4E;
    color: #F9F7F7;
    border: 1px solid black;
    font-size: 1.5rem;
    font-weight: 300;
    padding: .6rem;
    border-radius: 5px;
}
.btn:hover {
    background: #3F72AF;
}

.btn-delete {
    background: #DBE2EF;
    border: none;
    font-size: 1.5rem;
    font-weight: 300;
    padding: .6rem;
    border-radius: 5px;
}
.btn-delete:hover {
    background: #3F72AF;
}

.input {
    color: #112D4E;
    border: solid 1px #112D4E;
    font-size: 1.6rem;
    font-weight: 300;
    margin-right: 5px;
    padding: .4rem .8rem;
    border-radius: 5px;
}

